<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Barbearia{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.styles.css' %}">
</head>
<body>
    <header>
        <h1>Barbearia Estilosa</h1>
        <nav>
            <ul>
                <li><a href="{% url 'lista_servicos' %}">Serviços</a></li>
                <li><a href="{% url 'agendar' %}">Agendar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Barbearia Estilosa</p>
    </footer>
</body>
</html>
